body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}
/*头部悬浮栏*/
.page-head-bar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background: #cc1f48;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.45);
}
.page-head-bar-container {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
/*左侧链接区*/
.bar-left {
  float: left;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bar-left:nth-last-child(-n + 2) {
  line-height: 50px;
  font-size: 14px;
  color: #eaa4b5;
}
/*网页logo*/
.bar-left-logo {
  width: 160px;
  height: 50px;
  margin: 0;
  padding: 0;
  line-height: 50px;
}
.bar-left-logo img {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0;
}
.bar-left-logo:hover {
  cursor: pointer;
}

.bar-left-block1:hover,
.bar-left-block2:hover {
  cursor: pointer;
}
/*右侧链接区*/
.bar-right {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 640px;
  height: 100%;
  margin: 0;
  padding: 0;
}
.bar-right:nth-last-child(-n + 2) {
  line-height: 50px;
  font-size: 14px;
  color: #eaa4b5;
}
/*搜索栏*/
.bar-right-search-container {
  position: relative;
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
}
.search-bar-container {
  position: absolute;
  width: auto;
  height: 20px;
  margin: 8px 0;
  padding: 8px;
  line-height: 20px;
  top: 0;
  right: 0;
  background: #b4183d;
  border-radius: 5px;
}
/*给placeholder的字体设置颜色*/
.search-bar-container input::-webkit-input-placeholder {
  color: #eaa4b5;
}
.search-bar-container input::-moz-input-placeholder {
  color: #eaa4b5;
}
.search-bar-container input::-ms-input-placeholder {
  color: #eaa4b5;
}
.search-input {
  width: 150px;
  height: 20px;
  margin-left: 5px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  color: #eaa4b5;
  outline: none;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
}
/*搜索栏扩展样式*/
.search-input1 {
  width: 350px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  color: #eaa4b5;
  outline: none;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
}
/*语言区*/
.bar-right-language {
  position: relative;
  width: 100px;
  height: 100%;
  margin: 0;
  padding: 0;
}
.bar-right-language:hover {
  cursor: pointer;
}
/*默认语言和箭头图标*/
.language-default-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.language-default {
  width: 80%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.language-arrow {
  width: 15%;
  height: 10px;
  margin: 15px 10px;
  padding: 0;
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*语言选择区*/
.language-choice {
  display: none;
  width: 150px;
  height: auto;
  margin: 0;
  padding: 10px 0;
  background: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;
  border-radius: 3px;
}
.language-choice li {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0 20px;
  font-size: 12px;
  color: #333;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}
.language-choice li:hover {
  cursor: pointer;
  background: #eaa4b5;
}
/*注册和登录链接*/
.bar-right-register, .bar-right-login {
  position: relative;
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}
.bar-right-register:hover, .bar-right-login:hover {
  cursor: pointer;
}
/*登录注册区域背景*/
.info-cover {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(252, 250, 243, 0.75);
}
/*登录注册栏*/
.info-board {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  border-radius: 4px;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.35);
  width: 375px;
  height: auto;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*标题头显示登录还是注册*/
.info-board-title {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  line-height: 60px;
  background: #ffffff;
  text-align: center;
  color: #333333;
}
.info-title-close {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}
.info-title-close:hover {
  cursor: pointer;
}
.info-title-word {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
/*注册表单*/
.info-register, .info-login {
  position: relative;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 0;
  background: #f6f3e4;
}
.info-register input::-webkit-input-placeholder,
.info-login input::-webkit-input-placeholder {
  color: #998f66;
}
.info-register input::-moz-input-placeholder,
.info-login input::-moz-input-placeholder {
  color: #998f66;
}
.info-register input::-ms-input-placeholder,
.info-login input::-ms-input-placeholder {
  color: #998f66;
}
.info-username, 
.info-password, 
.info-password-again, 
.info-email,
.info-submit  {
  width: 80%;
  height: 50px;
  margin: 10px auto;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
.info-username, 
.info-password, 
.info-password-again, 
.info-email  {
  background: #ffffff;
  color: #998f66;
}
.info-box-style {
  border: 2px solid #cb1b45;
}
.info-username input, 
.info-password input, 
.info-password-again input, 
.info-email input {
  width: 90%;
  text-align: center;
  color: #998f66;
  font-size: 16px;
  outline: none;
  border: 0;
}
.info-submit {
  background: #cb1b45;
  color: #ffffff;
  border: 2px solid #cb1b45;
}
.info-submit:hover {
  cursor: pointer;
}
/*隐藏注册登录区*/
.info-cover, .info-board {
  display: none;
}
/*注册登录跳转区域文字*/
.info-message-register,
.info-message-login {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  color: #998f66;
  text-align: center;
}
.info-message-register a,
.info-message-login a {
  color: #cb1b45;
}
.info-message-register a:hover,
.info-message-login a:hover {
  cursor: pointer;
  text-decoration: underline;
}